<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.3/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         shortenArraysForExportThreshold="10"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="unit">
            <file>tests/ViteTest.php</file>
            <file>tests/MockFunctionsTest.php</file>
            <file>tests/EdgeCaseTest.php</file>
        </testsuite>
        <testsuite name="integration">
            <file>tests/IntegrationTest.php</file>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
    <php>
        <env name="WP_DEBUG" value="false"/>
        <env name="WP_ENV" value="testing"/>
        <const name="ABSPATH" value="/tmp/"/>
    </php>
</phpunit>
